
.col img{
    height: 90px;
}
.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item {
    transition: transform 0.5s ease-in-out;
  }

  .carousel-item-left {
    transform: translateX(-100%);
  }
  
  .carousel-item-right {
    transform: translateX(100%);
  }

  .carousel-item img {
    object-fit: cover;
    height: 500px;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    background-color: blue;
    border-radius: 10px;
    height: 180px;
    width: 350px;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: one;
  }

  @keyframes example {
    0%   {background-color:white;color: blue; left:50%; top:0px;}
    /* 25%  {background-color:white;color: blue; left:450px; top:0px;} */
    50%  {background-color:blue;color: white; left:50%; top:300px;}
    /* 75%  {background-color:white;color: blue; left:0px; top:200px;} */
    100% { left:50%; top:300px;}
  }
  
  .carousel-caption h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    /* background-color: darkslateblue; */
    font-family: initial;
    text-decoration: underline;
  }
  .carousel-caption btn{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    /* background-color: darkslateblue; */
    font-family: initial;
    text-decoration: underline;
  }
  
  .carousel-caption p {
    font-size: 18px;
    line-height: 1.6;
    /* background-color: darkslateblue; */
    font-family: initial;
    text-decoration: underline;
  }
  