h1 {
    text-align: center;
    color: #0062cc;
  }
  .container{
    max-width: 992px;
  }
.form-group {
    margin-bottom: 1rem;
  }
  
.form-control{
    border-color: #0062cc;
}
.form-control:focus {
    border-color: #0767cf;
    box-shadow:#0069d9
  }
  
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 10px;
  }
  
.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
.form-label{
    color: #0062cc;
}
.logo{
    display: flex;
    justify-content: center;
    /* margin-top: 10%; */
}
.backColor{
  background-color: #71a1e9;
  margin: 40px;
  padding: 40px;
  border-radius: 20px;
  width: auto;
}